* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #564D9E;
  font-size: 20px;
}

body > .container-bg {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/lateral-home.svg");
  background-size: 111%;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
}

@media (max-width: 1200px) {
  body > .container-bg {
    background-size: 142%;
    background-position: center;
  }
}

body > .container-bg > img {
  width: 40%;
  position: absolute;
  right: 15%;
  bottom: 10%;
}

body > header > nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3%;
}

body > header > nav > ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body > header > nav > ul > li {
  width: 12%;
  text-align: center;
  padding-right: 3%;
}

body > header > nav > ul > li:hover {
  -webkit-animation: menu-hover 0.9s both;
          animation: menu-hover 0.9s both;
}

@-webkit-keyframes menu-hover {
  0% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes menu-hover {
  0% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}

body > header > nav > ul > li:nth-child(n + 3) > a {
  color: #fff;
}

body > header > nav > ul > li:last-child {
  padding-right: 0;
}

body > header > nav > ul > li > a {
  width: 100%;
  color: #564D9E;
}

body > header > nav > a {
  width: 11%;
}

body > header > nav > a:hover {
  -webkit-animation: pulsacao 1.5s both;
          animation: pulsacao 1.5s both;
}

@-webkit-keyframes pulsacao {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes pulsacao {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

body > header > nav > a > img {
  width: 100%;
}

body > main {
  width: 28%;
  padding-left: 2%;
  padding-top: 4%;
}

body > main > h1 {
  font-size: 44px;
}

body > main > p {
  font-size: 22px;
  padding-top: 4%;
  padding-bottom: 14%;
}

@media (max-width: 1200px) {
  body > main > p {
    width: 80%;
    font-size: 18px;
  }
}

body > main > a {
  width: 100%;
}

body .cta {
  width: 70%;
  border-radius: 36px;
  background-color: #564D9E;
  color: #fff;
  border: none;
  font-size: 22px;
  font-weight: 600;
  padding: 4%;
  text-align: center;
  cursor: pointer;
  -webkit-animation: atencao .4s linear 3s 10 both;
          animation: atencao .4s linear 3s 10 both;
}

@-webkit-keyframes atencao {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes atencao {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@media (max-width: 1200px) {
  body .cta {
    font-size: 16px;
    width: 50%;
  }
}

body > footer {
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 2;
}

body > footer > p, body > footer a {
  color: #fff;
  font-size: 24px;
}

body > footer > .slogan {
  font-weight: 300;
  padding-bottom: 4%;
}

body > footer > .redes-sociais > a {
  padding-right: 4%;
  font-size: 30px;
}
/*# sourceMappingURL=style.css.map */